<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Unlimited Features, Unlimited Fun</h2>
      <p class="text-muted">Check out what you can do with this app theme!</p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="row">
        <div class="col-lg-6 my-auto">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../assets/img/img 1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/img 2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/img 3.jpg" alt="Third slide">
            </div>
          </div>
        </div>
        <div class="col-lg-6 my auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6" data-target="#carouselExampleIndicators" data-slide-to="3">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Device Mockups</h3>
                  <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Flexible Use</h3>
                  <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Free to Use</h3>
                  <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>Open Source</h3>
                  <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-lg-6 my-auto">-->

      <!--</div>-->
      <!--<div class="col-lg-6 my-auto">-->
        <!--<div class="container-fluid">-->
          <!--<div class="row">-->
            <!--<div class="col-lg-6" data-target="#carouselExampleIndicators" data-slide-to="3">-->
              <!--<div class="feature-item">-->
                <!--<i class="icon-screen-smartphone text-primary"></i>-->
                <!--<h3>Device Mockups</h3>-->
                <!--<p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6">-->
              <!--<div class="feature-item">-->
                <!--<i class="icon-camera text-primary"></i>-->
                <!--<h3>Flexible Use</h3>-->
                <!--<p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-lg-6">-->
              <!--<div class="feature-item">-->
                <!--<i class="icon-present text-primary"></i>-->
                <!--<h3>Free to Use</h3>-->
                <!--<p class="text-muted">As always, this theme is free to download and use for any purpose!</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6">-->
              <!--<div class="feature-item">-->
                <!--<i class="icon-lock-open text-primary"></i>-->
                <!--<h3>Open Source</h3>-->
                <!--<p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
