<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{ ShowOrder.userId }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="ShowOrder.location_lat" [longitude]="ShowOrder.location_long">
          <agm-marker [latitude]="ShowOrder.location_lat" [longitude]="ShowOrder.location_long"></agm-marker>
        </agm-map>
      </div>
      <div class="modal-body" *ngFor="let dish of dishes">
        <p *ngFor="let quantity of quantities"> {{ dish }} - {{ quantity }}</p>
      </div>
      <div class="modal-body">
        <p>cart value : {{ ShowOrder.cart_value }}</p>
        <p> <strong> payment via: Credit-Card</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="UpdateOrder(ShowOrder,'Recieved')">Order Recieved</button>
        <button type="button" class="btn btn-primary" (click)="UpdateOrder(ShowOrder,'MealPrepared')">Meal Prepared</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="UpdateOrder(ShowOrder , 'Delivered')">Order Delivered</button>
      </div>
    </div>
  </div>
</div>
