<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{ ShowOrder.userId }} </h5>
        <button type="button" class="btn btn-primary" [disabled]="ShowOrder.status!= 'delivered' &&  ShowOrder.payment!= 'done'"
        data-dismiss="modal" (click)="DeleteOrder(ShowOrder,user,InsideOrder,dishes,quantities)">
      Delete</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="ShowOrder.location_lat != 0" class="modal-body">
        <!--<agm-map [latitude]="ShowOrder.location_lat" [longitude]="ShowOrder.location_long">-->
          <!--<agm-marker [latitude]="ShowOrder.location_lat" [longitude]="ShowOrder.location_long"></agm-marker>-->
          <!--<agm-marker [latitude]="28.5244" [longitude]="77.1855"></agm-marker>-->
          <!--&lt;!&ndash;<agm-direction [origin]="origin" [destination]="destination"></agm-direction>&ndash;&gt;-->
        <!--</agm-map>-->
       <button class="btn btn-primary"  *ngIf="ShowOrder.location_lat != 0" (click)="initMap()">View map</button>
        <div class="googleMap"  *ngIf="ShowOrder.location_lat != 0"  id="map">
          
        </div>
        
      </div>
      
      <div class="modal-body">
        <p *ngIf="ShowOrder.location_lat != 0" >time to reach : {{time_to_reach}}<p>
      </div>
      <div class="modal-body" id='printOrder'>
           <table >
              <tr>
                <th>Serial Number</th>
                <th>Item Name</th>
                <th>Quantity</th>
              </tr>
              <ng-container *ngFor='let order of ShowOrder.dishes;let i=index'>
               <tr>
                  <td [attr.rowspan]="separateKyesValues(order,'length')">{{i+1}}</td>
                   <ng-container *ngFor='let dishe of separateKyesValues(order,"loop") ;let j=index'>
                      <td *ngIf='j==0'>{{dishe}}</td>
                      <td *ngIf='j==0'> {{quantities[j]}}</td>  
                   </ng-container>    
               </tr>
               <tr *ngFor='let dishe of  dishes;let j=index'>
                    <td *ngIf='j+1<dishes.length'>{{dishes[j+1]}}</td>
                    <td *ngIf='j+1<dishes.length'> {{quantities[j+1]}}</td>    
              </tr>
              </ng-container>
           </table>
      </div>
      <div  class="modal-body">
          <p id="demo"></p>
        <p>Table No.: <input type="number" id="myText" value="Enter table no."></p>

        <button data-dismiss="modal" (click)="myFunction(ShowOrder,user,InsideOrder,dishes,quantities)">Send</button>
        <p>cart value : {{ ShowOrder.cart_value }}</p>
        <p id="demo"></p>
        <p *ngIf="ShowOrder.location_lat != 0" >order type : {{ ShowOrder.status }}</p>
       <div *ngIf="ShowOrder.location_lat === 0"> <p>Payment : {{ ShowOrder.payment }}</p></div>
         <div *ngIf="ShowOrder.location_lat === 0"> <p>Table Number : {{ ShowOrder.tableNo }}</p></div>
        <p> <strong> payment via: Credit-Card</strong></p>
       </div>
      
      <div class="modal-footer">
        <form>
          <input type="button" class="btn btn-primary" onclick="printDiv('printableArea')" value="Print" />
        </form>
        <div id="printableArea">
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              
              <p>User Id:{{ShowOrder.userId}}</p>
              <p>Table No. :{{ShowOrder.tableNo}}</p>
              <table >
                <tr>
                  
                  <th>Item Name</th>
                  <th>Quantity</th>
                </tr>
                <ng-container *ngFor='let order of ShowOrder.dishes;let i=index'>
                 <tr>
                    
                     <ng-container *ngFor='let dishe of separateKyesValues(order,"loop") ;let j=index'>
                        <td *ngIf='j==0'>{{dishe}}</td>
                        <td *ngIf='j==0'> {{quantities[j]}}</td>  
                     </ng-container>    
                 </tr>
                 <tr *ngFor='let dishe of  dishes;let j=index'>
                      <td *ngIf='j+1<dishes.length'>{{dishes[j+1]}}</td>
                      <td *ngIf='j+1<dishes.length'> {{quantities[j+1]}}</td>    
                </tr>
                </ng-container>
             </table>
             
              <p>No. of Dishes:{{ShowOrder.dishes.length}}</p>
              <p>Cart value: {{ShowOrder.cart_value}}</p>
              <p>Payment Status :{{ShowOrder.payment}}</p>
            </div>
          </div>
        </div>
      </div>
        <button type="button" class="btn btn-primary" [disabled]="ShowOrder.status === 'recieved'  
        || ShowOrder.status === 'mealPreparing' || ShowOrder.status === 'delivered'" 
        *ngIf="ShowOrder.location_lat != 0" (click)="UpdateOrder(ShowOrder,'recieved')">
        Order Recieved</button>
        <button type="button" class="btn btn-primary" [disabled]="ShowOrder.status === 'mealPreparing'
         || ShowOrder.status === 'delivered' || ShowOrder.status === 'pending' "  
         *ngIf="ShowOrder.location_lat != 0"  (click)="UpdateOrder(ShowOrder,'mealPreparing')">
         Meal Preparing</button>
        <button type="button" class="btn btn-primary" [disabled]="ShowOrder.status === 'recieved' 
        ||  ShowOrder.status === 'delivered' || ShowOrder.status === 'pending'" 
        *ngIf="ShowOrder.location_lat != 0"  data-dismiss="modal" (click)="UpdateOrder(ShowOrder ,
         'delivered')">Order Delivered</button>
      </div>
     <!--  <div id='printDiv'>
         <table border='1px'>
            <tr>
              <th> Name </th>
              <th> Class </th>
            </tr>
            <tr>
              <td> Bhaskar</td>
              <td> S-21 </td>
            </tr>
         </table> 
      </div> -->
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMMAaX6-zLoun2a_W5WYqvlE_rLzi6MCc&callback=initMap"
    async defer>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
var d = new Date();
document.getElementById("demo").innerHTML = d;</script>

