agm-map {
  height: 250px;
  width: 100%;
}

h5{
  color: #000;
}

.modal-body{
  color: #000;
}

.googleMap{
  height: 300px;
  width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td ,tr{
    text-align: left;
    padding: 8px;
     border:0.5px solid silver ;
}

th {
    background-color: #4CAF50;
    color: white;
}
