#showOrder{
    padding-left: 50px;
  }
  
  .card{
    margin-left: 50px;
  }
  
  #map{
    height: 200px;
    width: 100%;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
  
  login{
    align-items: center;
  }
  card{
    background-color: red;
    background: red;
  }
  
  .bg-primary{
  
  }
  