<div id='holdprintData'>
<app-navbar [user]="LoggedInUser" (Feature)="OnNavigate($event)"></app-navbar>
<app-homepage *ngIf="LoadedFeature == 'homepage'"></app-homepage>
<br>
<div class="container" *ngIf="LoadedFeature == 'Orders'">
 <div class="row">
   <div class="col-sm-12 col-md-6 col-lg-6 p-0" style="border-right: 0.8px solid black">
      <div class='9'><h1 class="text-center">PreOrders</h1></div>
      <!-- <div class='3'> <button type="button" (click)="printFunction()" class="btn btn-light">Print</button></div> -->
       <div *ngFor="let order of PreOrders ; let i = index;" style="display:inline-block;width: 45%" class="p-1 ml-1">
         <div class="card text-white mb-3 m-0"
               [ngClass]="{'bg-danger' : i >= 0 && i<10 , 'bg-warning' : i >= 10 && i<15 , 'bg-success' : i >= 15  }"
               style="width: 100%;">
           <div class="card-body">
             <h5 class="card-title"> Order No : {{ i+1 }}</h5>
             <p class="card-text">User       : {{order.userId}} <br> cart value : {{order.cart_value}}</p>
             <p class="card-text">Location: {{order.location_lat}} , {{order.location_long}}</p>
             <button type="button" (click)="SendOrderDetail(order)" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
               View Details
             </button>
           </div>
         </div>
       </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 p-0">
        <h1 class="text-center">InsideOrders</h1>
         <div *ngFor="let order of InsideOrders ; let i = index;" style="display:inline-block;width: 45%" class="p-1 ml-1">
           <div class="card text-white mb-3 m-0"
                 [ngClass]="{'bg-danger' : i >= 0 && i<10 , 'bg-warning' : i >= 10 && i<15 , 'bg-success' : i >= 15  }"
                 style="width: 100%;">
             <div class="card-body">
               <h5 class="card-title"> Order No : {{ i+1 }}</h5>
               <p class="card-text">User       : {{order.userId}} <br> cart value : {{order.cart_value}}</p>
               <!--<p class="card-text">Location: {{order.location_lat}} , {{order.location_long}}</p>-->
               <button type="button" (click)="SendOrderDetail(order)" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                 View Details
               </button>
             </div>
           </div>
         </div>
         <div id='printData' style='display:none'>
           <table border="1px">
              <tr>
                <th>Cart Number</th>
                <th>Item Name</th>
                <th>Quantity</th>
              </tr>
              <ng-container *ngFor='let obj of PreOrders'>
               <tr>
                  <td [attr.rowspan]="separateKyesValues(obj.dishes,'length')">{{obj.cart_value}}</td>
                   <ng-container *ngFor='let data of  separateKyesValues(obj.dishes,"loop");let i=index'>
                      <td *ngIf='i==0'>{{keys[i]}}</td>
                      <td *ngIf='i==0'> {{values[i]}}</td>  
                   </ng-container>    
               </tr>
               <tr *ngFor='let data of  separateKyesValues(obj.dishes,"loop");let i=index'>
                    <td *ngIf='i+1<keys.length'>{{keys[i+1]}}</td>
                    <td *ngIf='i+1<keys.length'> {{values[i+1]}}</td>    
                </tr>
              </ng-container>
           </table>
        </div>
      </div>
   <app-order-detail *ngIf="selectedOrder" [user]="LoggedInUser" [ShowOrder]="selectedOrder" [dishes]="Dishes" [quantities]="Quantity"  [time_to_reach]="TimeToReach"></app-order-detail>
 </div>
</div>

<div class="container">
  <div class="dashboard">
    <app-dashboard [Orders]="Orders" [MenuItems]="MenuItems" *ngIf="LoadedFeature === 'Home'"></app-dashboard>
  </div>
</div>

<div class="container">
    <div class="table-booking" *ngFor="let order of Orders;let i = index">
      <app-table-booking *ngIf="LoadedFeature === 'TableBooking'" [SelectedOrder]="order" [index]="i"></app-table-booking>
    </div>
</div>

<div class="container" *ngIf="LoadedFeature === 'Menu'">
  <app-menu-item [Restaurant]="LoggedInUser" [Menu]="MenuItems"></app-menu-item>
</div>

<div class="container">
  <app-discount [CurrentOffers]="CurrentOffers" [Restaurant]="LoggedInUser" *ngIf="LoadedFeature === 'Offers'"></app-discount>
</div>

<div class="container">
  <app-restaurant-info [Restaurant]="LoggedInUser" *ngIf="LoadedFeature == 'info'"></app-restaurant-info>
</div>


<div class="container login" *ngIf="LoadedFeature === 'Login'">
  <app-login (LoginSuccess)="showOrders($event)"></app-login>
</div>

<div class="container" *ngIf="LoadedFeature === 'Signup'">
  <app-signup></app-signup>
</div>

<app-footer *ngIf="LoadedFeature === 'homepage'"></app-footer>
</div>
