<div *ngIf="Restaurant">
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <button class="btn btn-group-lg" (click)="ShowMenuForm()">Add Menu Item</button>
    </div>
  </div>
  <br>

  <!-----------Menu Item Form------------------->

  <div *ngIf="MenuForm" class="menu-form">
      <div *ngIf="sussMsg" class="alert alert-success">Success</div>
      <div *ngIf="errMsg" class="alert alert-danger">Error</div>
    <form [formGroup]="myForm" (ngSubmit)="SaveMenu(Menu2,course_type,Category,CourseMeal,Desc,Discount,gst,hasv,name,posturl,price,veg,videourl)" >
      
      <div class="form-group row">
        <label for="course_type" class="col-sm-2 col-form-label">Restaurant Category</label>
        <div class="col-sm-10">
          <select name="course_type" class="custom-select" formControlName="course_type" [(ngModel)]="course_type" id="course_type">
              <option value="" disabled selected>select a category</option>
              <option>Classic Cocktails</option>
              <option>Desserts</option>
              <option>Mocktails</option>
            <option>Starters</option>
            <option>European main plate</option>
            <option>Shakes</option>
            <option>Starters</option>
            <option>Vegetarian Snacks</option>
            <option>Burger & Sandwiches</option>
            <option>Iced and Frozen Drinks</option>
            <option>Meat & Poltry</option>
            <option>Veggie By Nature</option>
            <option>Appetizers</option>
            <option>Burgers</option>
            <option>Coolers</option>
            <option>Foot Longs</option>
            <option>Pastas and Salads</option>
            <option>Pizzas n'breads</option>
            <option>Sandwiches</option>
            <option>Wraps n'more</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="Category" class="col-sm-2 col-form-label">Food Category</label>
        <div class="col-sm-10">
            <select class="custom-select" formControlName="Category" [(ngModel)]="Category" id="Category">
                <option value="" disabled selected>select a category</option>
                <option *ngFor="let Me of Mek" [value]="Me.category_name">{{ Me.category_name }}</option>
            </select>
          </div>
      </div>
      <div class="form-group row">
        <label for="CourseMeal" class="col-sm-2 col-form-label">Course Meal</label>
        <div class="col-sm-10">
          <select name="CourseMeal" class="custom-select" formControlName="CourseMeal" [(ngModel)]="CourseMeal" id="CourseMeal">
            <option value=1 selected>1</option>
            <option value=2>2</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="Desc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="Desc" formControlName="Desc" class="form-control" id="Desc" placeholder="Enter Description">
          <div *ngIf="myForm.controls['Desc'].invalid && myForm.controls['Desc'].touched" class="alert alert-danger">
              Description is required
           </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Discount" class="col-sm-2 col-form-label">Discount</label>
        <div class="col-sm-10">
          <select class="custom-select" [(ngModel)]="Discount" formControlName="Discount"  id="Discount" name="Discount">
            <option value=5 selected>5</option>
            <option value=10>10</option>
            <option value=15>15</option>
            <option value=20>20</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="gst" class="col-sm-2 col-form-label">GST</label>
        <div class="col-sm-10">
          <select name="gst" class="custom-select" formControlName="gst" [(ngModel)]="gst" id="gst">
            <option value=15 selected>5</option>
            <option value=18>18</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="hasv" class="col-sm-2 col-form-label">Has Video</label>
        <div class="col-sm-10">
          <select name="hasv" class="custom-select" formControlName="hasv" [(ngModel)]="hasv" id="hasv">
            <option value=1 selected>Yes</option>
            <option value=0>No</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Dish item name</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="name" formControlName="name" class="form-control" id="name" placeholder="Enter name">
          <div *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched" class="alert alert-danger">
              Name is required
           </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="posturl" class="col-sm-2 col-form-label">Poster URL</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="posturl" formControlName="posturl" class="form-control" id="posturl" placeholder="Enter poster url">
          <div *ngIf="hasv==='1'" class="alert alert-danger">
              Post url is required
           </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="text" formControlName="price" [(ngModel)]="price" class="form-control" id="Price" placeholder="Price">
          <div *ngIf="myForm.controls['price'].invalid && myForm.controls['price'].touched" class="alert alert-danger">
              price is required
           </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="veg-nonveg" class="col-sm-2 col-form-label">Veg/Non-Veg</label>
        <div class="col-sm-10">
          <select class="custom-select" formControlName="veg/non-veg" [(ngModel)]="veg" id="veg-nonveg">
            <option selected>Category</option>
            <option value="1">Veg</option>
            <option value="2">Non Veg</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="videourl" class="col-sm-2 col-form-label">Video URL</label>
        <div class="col-sm-10">
          <input type="text" formControlName="videourl" [(ngModel)]="videourl" class="form-control" id="videourl" placeholder="videourl">
          <div *ngIf="hasv==='1' " class="alert alert-danger">
              Video url is required
           </div>
        </div>
      </div>
      <input type="submit" value="ADD" class="btn btn-success" [disabled]="myForm.invalid"/>
    </form>
  </div>
  <br>


  <!-----------Menu Item Form------------------->

  
  <br>

  <!-------------Menu Table--------------------->

  
</div>

