<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">ICON</div>
      <div class="card-body text-info">
        <h5 class="card-title">{{this.MenuItems.length}}</h5>
        <p class="card-text">MENU ITEMS</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">ICON</div>
      <div class="card-body text-info">
        <h5 class="card-title">18</h5>
        <p class="card-text">CATEGORIES</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">ICON</div>
      <div class="card-body text-info">
        <h5 class="card-title">{{this.Orders.length}}</h5>
        <p class="card-text">ORDERS</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">{{Month}} {{Date}}</div>
      <div class="card-body text-info">
        <h5 class="card-title">{{day}}</h5>
        <p class="card-text">{{hours}}:{{minutes}}</p>
      </div>
    </div>
  </div>
</div>
