/* You can add global styles to this file, and also import other style files */
#map {
  height: 10px;
  width: 100%;
}
.clear { clear: both; }
#map.expanded {
  height: 400px;
  width: 100%;
}
#front-page-icon{
	height: 100px;
}