<div class="sixth-section">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>Contact Us</h3>

      </div>
      <div class="col-sm-12 col-md-6">
        <section class="contact bg-primary" id="contact">
          <div class="container">
            <h2>We
              <i class="fa fa-heart"></i>
              new friends!</h2>
            <ul class="list-inline list-social">
              <li class="list-inline-item social-twitter">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item social-facebook">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item social-google-plus">
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
